<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark_ft</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Mark_ft</h1>
    <p>Привет,меня зовут Марк мне 10 лет!Мой ник в инсте @marks </p>
            <p>Я хожу в школу!!!!!!!</p>
    <a href="https://www.youtube.com/channel/UC12IojKStkEg-yRvzx2jigw">
        <a href="https://www.instagram.com/markshatvl2.0/"></a>
        <input type="button"value="мой ютуб канал">
    </a>

</body>
</html>